<app-loading *ngIf="loading"></app-loading>

<ng-container *ngIf="!loading" [ngTemplateOutlet]="card"></ng-container>

<ng-template #card>
  <div class="container custom-width">
    <div class="card mb-5">
      <h2 class="card-header title">{{movieDetails.title}}</h2>
      <ul class="list-group">
        <li class="list-group-item item-style" *ngIf="movieDetails.genres.length">
          <span class="field">Genres:
            <span *ngFor="let genre of movieDetails.genres">
              {{genre.name}}
            </span>
          </span>
        </li>
        <li class="list-group-item item-style">
          <span class="field">Release Date:</span> {{movieDetails.release_date}}
        </li>
        <li class="list-group-item item-style">
          <span class="field">Overview:</span> {{movieDetails.overview}}
        </li>
        <li class="list-group-item" *ngIf="movieDetails.homepage">
          <a class="item-style field" target="_blank" href="{{movieDetails.homepage}}">
            Click here to learn more about {{movieDetails.title}}
          </a>
        </li>
      </ul>
      <button class="btn btn-primary" (click)="backToHome()">Back to home</button>
      <img class="card-img" src="{{imageUrl}}" onerror="this.src='assets/img-not-found.png'" alt="">
    </div>
  </div>
</ng-template>
