<app-navbar
  (backToHomeEvent)="showTemplate()">
</app-navbar>

<ng-container
  [ngTemplateOutlet]="mainTemplate">
</ng-container>

<ng-template #homePage>
 <app-home-page
    (goToMovieDetailsEvent)="showMovieDetailsTemplate($event)"
    (goToAllMoviesEvent)="showAllCategoryMoviesTemplate($event)">
 </app-home-page>
</ng-template>

<ng-template #movieDetailsCard>
  <app-movie-details-card
    [movieId]="movieId"
    [category$]="category$"
    (emitBack)="backToPreviousPage($event)">
  </app-movie-details-card>
</ng-template>

<ng-template #allMovies>
  <app-all-movies
    [category$]="category$"
    (goToMovieDetailsEvent)="showMovieDetailsTemplate($event)"
    (backToHomeEvent)="showTemplate()">
  </app-all-movies>
</ng-template>

<app-footer></app-footer>
