<div class="container">
  <p class="search-title">Search for a movie:</p>
  <form class="form-control input-lg search-box" #form="ngForm" (ngSubmit)="searchMovie(form)">
    <div class="input-group custom-input">
      <input
        required
        type="text"
        class="form-control input"
        name="movie"
        placeholder="Search movie"
        ngModel>
      <button class="btn button-style" [disabled]="form.invalid">Search</button>
    </div>
  </form>
</div>

<div class="list-group">
  <h1 class="display-5 explore-title">Explore Our Movies</h1>
</div>

<div *ngFor="let movie$ of allMovies$">
  <app-category
    [category$]="movie$"
    (emitMovieId)="showMovieDetailsPage($event)"
    (emitCategory)="showAllMoviesPage($event)">
  </app-category>
</div>
